node_modules
dist
build
.env
.env.local
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local
.env.development.local.example
.env.test.local.example
.env.production.local.example